---
title: Caffeine and Lasers
css: /styles.css
nesting: ../
---


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head><title>{{ title }}</title></head>
    <link href="{{ nesting }}assets/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="{{css}}">
</head>

{% include "header.liquid" %}

<main>

<div style="text-align: center;">
    <a href="https://caffeineandlasers.com">
        <img src="\Assets\CaffineANdLasers.svg" alt="Coffee and Lasers" />
    </a>
    <p> Caffeine And Lasers has moved. You can now find us at:</p>

    <div style="border: 4px solid #ea76cb; background-color: #f3e1ee; border-radius: 15px; padding: 20px; display: inline-block;">
        <a href="https://caffeineandlasers.com">CaffeineAndLasers.com</a>
    </div>

</div>

</main>



{% include "footer.liquid" %}

</html>